/* import google-font Inter Noto Sans */
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&family=Inter:opsz,wght@14..32,100..900&family=Lusitana:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&family=Inter:opsz,wght@14..32,100..900&family=Lusitana:wght@400;700&family=Noto+Sans+SC:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter','Noto Sans',sans-serif ;
}

body{
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#F4F0FF,#DACDEF);
}
#chatbot-logout{
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 30px;
  left: 35px;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  background: #6D4FC2;
  display: flex;
  align-items: center;
  justify-content: center;
}

#chatbot-logout span{
  color: #fff;
}

#chatbot-toogler{
  position: fixed;
  bottom: 30px;
  right: 35px;
  border: none;
  height: 50px;
  width: 50px;
  display: flex;
  cursor: pointer;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background: #6D4FC2;
  transition: all 0.2s ease;
}

#chatbot-toogler span{
  position: absolute;
  color: #fff;
}

.container.show-chatbot #chatbot-toogler{
  transform: rotate(90deg);
}

#chatbot-toogler span:last-child,
.container.show-chatbot #chatbot-toogler span:first-child{
  opacity: 0;
}
.container.show-chatbot #chatbot-toogler span:last-child{
  opacity: 1;
}



.chatbot-popup{
  position: fixed;
  opacity: 0;
  pointer-events: none;
  bottom: 90px;
  right: 35px;
  width: 420px;
  transform:scale(0.2);
  transform-origin: bottom right;
  overflow: hidden;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 0 128px 0 rgba(0,0 , 0, 0.1),
  0 32px 64px -48px rgba(0, 0, 0, 0.5);
  transition: all 0.5s ease;
}



.container.show-chatbot .chatbot-popup{
  transform: scale(1);
  opacity: 1;
  pointer-events: auto;
}

.chatbot-popup .chat-header{
  display: flex;
  align-items: center;
  padding: 15px 22px;
  justify-content: space-between;
  background: #6D4FC2;
}

.chat-header .chat-info{
  display: flex;
  gap: 10px;
  align-items: center;
}

.chat-info svg{
  height: 35px;
  width: 35px;
  padding: 6px;
  flex-shrink:0;
  fill: #6D4FC2;
  background: #fff;
  border-radius: 50%;
}

.chat-info .logo-text{
  color:#fff;
  font-size: 1.31rem;
  font-weight: 600;
}

.chat-header button{
  height: 40px;
  width: 40px;
  background: none;
  border: none;
  outline: none;
  color:#fff;
  font-size: 1.9rem;
  cursor: pointer;
  padding-top: 2px;
  border-radius: 50%;
  margin-right:-10px;
  transition: 0.2s ease;
}

.chat-header button:hover{
  background: #593bab;
}
.chat-body{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 25px 22px;
  height: 460px;
  overflow-y: auto;
  margin-bottom: 82px;
  scrollbar-width: thin;
  scrollbar-color: #DDD3F9 transparent;
}

.chat-body .message{
  display: flex;
  gap: 11px;
  align-items: center;
}

.chat-body .bot-message.error .message-text{
  color: #ff0000;
}

.chat-body .bot-message svg{
  height: 35px;
  width: 35px;
  padding: 6px;
  flex-shrink:0;
  fill: #fff;
  align-self: flex-end;
  margin-bottom: 2px;
  background: #6D4FC2;
  border-radius: 50%;
}

.chat-body .message .message-text{
  padding: 12px 16px;
  max-width: 75%;
  word-wrap: break-word;
  white-space:pre-line;
  font-size: 0.95rem;
}

.chat-body .bot-message .message-text{
  background: #F6F2FF;
  border-radius:13px 13px 13px 3px ;
}

.chat-body .user-message{
  flex-direction: column;
  align-items: flex-end;

}


.chat-body .user-message .message-text{
  background: #6D4FC2;
  color: #fff;
  border-radius: 13px 13px 3px 13px;
}

.chat-footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 15px 22px 20px;
  background: #fff;
}

.chat-footer .chat-form{
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 32px;
  outline: 1px solid #CCCCE5;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.06);
}

.chat-footer .chat-form:focus-within{
  outline: 2px solid #6D4FC2;
}

.chat-form .message-input{
  border: none;
  outline: none;
  background:none;
  width: 100%;
  height: 47px;
  padding: 0px 17px;
  font-size: 0.95rem;
}

.chat-form button{
  height: 35px;
  width: 35px;
  border: none;
  outline: none;
  flex-shrink: 0;
  border-radius: 50%;
  background: #6D4FC2;
  margin-right: 6px;
  font-size: 1.15rem;
  cursor: pointer;
  transition: 0.2s ease;
  color: #fff;
  display: none;
}

@keyframes pause-rotate{
  from{
   transform: rotate(0deg);
  }
  to{
   transform:rotate(360deg);
  }
}
.chat-form .pause{
  display: block;
  animation: pause-rotate 1.5s linear  infinite ;
}

.chat-form button:hover{
  background:#593bab;
}

.chat-form .message-input:valid~button{
  display: block;
}


/* 移动端界面样式适应 */

@media (max-width:520px){
  #chatbot-toggler{
    right: 20px;
    bottom: 20px;
  }

  .chatbot-popup{
    right: 0;
    bottom: 0;
    height: 100%;
    border-radius: 0;
    width: 100%;
  }

  .chatbot-popup .chat-header{
    padding: 12px 15px;
  }

  .chat-body{
    height: calc(90%-55px);
    padding: 25px 15px;
  }

  .chat-footer{
    padding: 10px 15px 15px;
  }
}